<div class="section">
  <div class="container">
    <div class="columns">

      <%# Profile box - Left%>
      <div class="column is-one-quarter">
        <% if user_signed_in? %>
          <div class="box">
            <%= render 'profile_feed' %>
          </div>
        <% end %>
      </div>

      <%# Main feed %>
      <div class="column is-half">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              
        <%= render 'main_feed' %>
      </div>

      <div class="column is-one-quarter">
        <% if user_signed_in? %>
          <div class="box">
            <%= render 'users_feed' %>
          </div>
        <% end %>
      </div>


  </div>
</div>
